.color-nav{
    background-color: #FF9052;
}
.button{
    background-color: #8190A5;
    
}

.close-navbar-toggler{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
  }
  .close-navbar-toggler.collapsed{
    z-index:-1;
  }

